<!DOCTYPE html>
<html>
  <head>
    <title>Document Studies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_typescript_tag 'logrocket.tsx' %>
    <%= stylesheet_link_tag 'devise' %>
  </head>
  <body>
    <div id="devise-container">
      <%= yield %>
    </div>
  </body>
</html>
